<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>24</string>
					<key>EndingLineNumber</key>
					<string>176</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>176</string>
					<key>Timestamp</key>
					<string>766354549.043969</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>yaControl/Tabs/CloudComputing.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        </string>
				<key>leading</key>
				<string>                        // Determine if this VM is currently being processed
                        let isProcessing = helpers.processingVMName.contains(vm.name)
</string>
				<key>trailing</key>
				<string>//TODO: ОБРАТИ ВНИМАНИЕ НА СТАТУСЫ, ИХ БОЛЬШЕ И МОЖЕТ ИСПОЛЬЗОВАТЬ САРЗУ ИХ!?
                        Button(action: {
                            if (vm.status == "RUNNING") {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
